In [17]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('db.sqlite3')  # Replace 'your_database_name.db' with the actual name of your SQLite database

# Query to select data from a table (replace 'your_table_name' with the actual table name)
query = "SELECT     name FROM     sqlite_schema WHERE     type ='table' AND     name NOT LIKE 'sqlite_%';"
query = "drop pma_museum;"
#query = "Drop Table pma_usage;"

# Read data into a DataFrame using pandas
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

DatabaseError: Execution failed on sql 'drop pma_museum;': near "pma_museum": syntax error

In [15]:
print("Data:")
print(df)

Data:
                       property_name  property_id   meter_id  \
0    Charles Shipman Payson Building      3637747    6329048
1    Charles Shipman Payson Building      3637747    6329048
2    Charles Shipman Payson Building      3637747    6329048
3    Charles Shipman Payson Building      3637747    6329048
4    Charles Shipman Payson Building      3637747    6329048
..                               ...          ...        ...
935                      Clapp House      3637752  140921696
936                      Clapp House      3637752  140921696
937                      Clapp House      3637752  140921696
938                      Clapp House      3637752  140921696
939                      Clapp House      3637752  140921696

                   meter_name        meter_type  meter_consumption_id  \
0    PMA Main - ACC#146288-01    Potable Indoor             704764472
1    PMA Main - ACC#146288-01    Potable Indoor             704764475
2    PMA Main - ACC#146288-01    Potable Indoor             704764478
3    PMA Main - ACC#146288-01    Potable Indoor             704764481
4    PMA Main - ACC#146288-01    Potable Indoor             704764485
..                        ...               ...                   ...
935          Fuel Oil (No. 2)  Fuel Oil (No. 2)            6354900230
936          Fuel Oil (No. 2)  Fuel Oil (No. 2)            6354900231
937          Fuel Oil (No. 2)  Fuel Oil (No. 2)            6354900232
938          Fuel Oil (No. 2)  Fuel Oil (No. 2)            6354900233
939          Fuel Oil (No. 2)  Fuel Oil (No. 2)            6354900234

              start_date             end_date        delivery_date  quantity  \
0    2012-02-23 00:00:00  2012-03-22 00:00:00        Not Available      86.0
1    2012-03-23 00:00:00  2012-04-23 00:00:00        Not Available     105.0
2    2012-04-24 00:00:00  2012-05-23 00:00:00        Not Available      95.0
3    2012-05-24 00:00:00  2012-06-21 00:00:00        Not Available     203.0
4    2012-06-22 00:00:00  2012-07-25 00:00:00        Not Available     428.0
..                   ...                  ...                  ...       ...
935        Not Available        Not Available  2022-02-16 00:00:00     169.4
936        Not Available        Not Available  2022-03-02 00:00:00     160.1
937        Not Available        Not Available  2022-03-16 00:00:00     117.7
938        Not Available        Not Available  2022-04-14 00:00:00     134.3
939        Not Available        Not Available  2022-05-26 00:00:00      49.1

     ... estimation         demand    demand_cost   last_modified_date  \
0    ...         No  Not Available  Not Available  2015-11-28 00:00:00
1    ...         No  Not Available  Not Available  2015-11-28 00:00:00
2    ...         No  Not Available  Not Available  2015-11-28 00:00:00
3    ...         No  Not Available  Not Available  2015-11-28 00:00:00
4    ...         No  Not Available  Not Available  2015-11-28 00:00:00
..   ...        ...            ...            ...                  ...
935  ...         No  Not Available  Not Available  2022-09-15 00:00:00
936  ...         No  Not Available  Not Available  2022-09-15 00:00:00
937  ...         No  Not Available  Not Available  2022-09-15 00:00:00
938  ...         No  Not Available  Not Available  2022-09-15 00:00:00
939  ...         No  Not Available  Not Available  2022-09-15 00:00:00

    last_modified_by   age common_usage_units                 date  \
0                pma  41.0             8.6000  2012-02-23 00:00:00
1                pma  41.0            10.5000  2012-03-23 00:00:00
2                pma  41.0             9.5000  2012-04-24 00:00:00
3                pma  41.0            20.3000  2012-05-24 00:00:00
4                pma  41.0            42.8000  2012-06-22 00:00:00
..               ...   ...                ...                  ...
935              pma  41.0            14.0602        Not Available
936              pma  41.0            13.2883        Not Available
937              pma  41.0             9.7691        Not Available
938              pma  41.0            11.1469        Not Available
939              pma  41.0             4.0753        Not Available

                units usage_per_sq_feet
0    Btu(in Millions)           0.13760
1    Btu(in Millions)           0.16800
2    Btu(in Millions)           0.15200
3    Btu(in Millions)           0.32480
4    Btu(in Millions)           0.68480
..                ...               ...
935  Btu(in Millions)           7.03010
936  Btu(in Millions)           6.64415
937  Btu(in Millions)           4.88455
938  Btu(in Millions)           5.57345
939  Btu(in Millions)           2.03765

[940 rows x 22 columns]