In [7]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('../db.sqlite3')  # Replace 'your_database_name.db' with the actual name of your SQLite database

# Query to select data from a table (replace 'your_table_name' with the actual table name)
query = "SELECT     name FROM     sqlite_schema WHERE     type ='table' AND     name NOT LIKE 'sqlite_%';"
#query = "select distinct property_name  from pma_usage;"
#query = "Drop Table pma_museum;"

# Read data into a DataFrame using pandas
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

TypeError: 'NoneType' object is not iterable

In [4]:
print("Data:")
print(df)

Data:
                                property_name
0             Charles Shipman Payson Building
1  Charles Shipman Payson Building-Fire Meter
2                                 142 Free St
3                        Winslow Homer Studio
4                      Portland Museum of Art
5                                 Clapp House